.contenedor{
    width:48%;
    display: inline-block;
    margin: auto;
    border: 3px solid rgba(0, 0, 0, 0.6);
    padding: 5px;
    font-family: monospace;
    text-align: center;
}
.inputShadow{
    box-shadow: 0 0 2px black,0 1px 1px black;
    position: relative;
}

.contenedorHeader{
    text-align: center;
    font-size: 35px;
}
.contenedorHistorial{
    background-color: rgb(1, 141, 141);
    border: 4px solid rgb(0, 70, 70);
    text-align: center;
    font-family: monospace;
    font-size: 15px;    
}
.contenedorDatos{
    width: 32%;
    display: inline-block;
    margin: auto;
    border: 1px solid black;
    text-align: left;
}
.contenedorBack{
    width: 90%;
    display: block;
    margin: auto;
    background-color: rgb(185, 184, 184);
    font-family: monospace;
    border: 5px ridge rgba(0, 0, 0, 0.6);
}
.bodyImage{
    background-image:url(./Imagen);
}
.headerSize{
    font-size: 18px;
}
/*
.autoCompletado{
    
    width: 40%;
    display: none;
    min-height: 30px;
    max-height: 330px;
    overflow: scroll;
    border-top: 1px solid black;
    text-align: left;
    left: 200px;
    align-self: auto;
    background-color: white;
}
.autoCompletado.open{
    display: inline-block;
}
.autoCompletado div {
    padding: 20px 10px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.2s;

}
*/